<% content_for :content do %>
    <div class="jumbotron text-center">
        <h1>Dog Info</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p>
                    <%= yield %>
                </p>
            </div>
            <div class="col-lg-6">
                <p>

                    <div class="caption">You can always count on some dogs to be friendly and welcoming!</div>
                    <img width="100%" src="https://cdn.discordapp.com/attachments/1060989219432054835/1123759712765214801/26be81dd-779f-4e56-886f-f20ef5787a8f.jpg" alt="Sammy the Dog">
                </p>

            </div>
        </div>
    </div>
<% end %>

<%= render template: "layouts/application" %>